<footer class="footer">
    <div class="container">
      <div class="footer-widgets">
        <div class="footer-row">
          <div class="footer-column-logo">
            <aside class="logo">
              <img src="assets/images/RUST-logo-white.png">
              <p class="copyright"> © 2019 RUST | Made by Skelly Company</p>
            </aside>
          </div>
          <div class="footer-column-links">
            <aside class="links">
              <h4 class="footer-widget-title">Important links</h4>
              <ul>
                <li><a href="mailto:TheSkellyCompany@gmail.com" target="_blank">Contact us</a></li>
                <li><a routerLink="/credits">Credits</a></li>
              </ul>
            </aside>
          </div>
          <div class="footer-column-social">
            <aside>
              <h4 class="footer-widget-title">Follow us</h4>
              <div class="footer-socials">
                <img src="assets/images/facebook-icon.png" onmouseover="this.src='assets/images/facebook-icon-hover.png'" onmouseout="this.src='assets/images/facebook-icon.png'">
                <img src="assets/images/twitter-icon.png" onmouseover="this.src='assets/images/twitter-icon-hover.png'" onmouseout="this.src='assets/images/twitter-icon.png'">
                <img src="assets/images/instagram-icon.png" onmouseover="this.src='assets/images/instagram-icon-hover.png'" onmouseout="this.src='assets/images/instagram-icon.png'">
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </footer>