//General
.content-inner{
  background-color:#fff;
  max-width:960px;
  margin:0 auto;
  padding:100px 8%;
}
.content-row:before,.content-row:after{
  content:"";
  display:table;
}
.content-row:after{
  clear:both;
}
[class*=sqs-col]{
  float:left;
}
[class*=sqs-col] .content-block{
  padding-left:17px;
  padding-right:17px;
}
[class*=sqs-col]:last-child{
  padding-right:0;
}
.sqs-col-10{
  width:83.3333%;
}
.sqs-col-1{
  width:8.3333%;
}
.content-layout > .content-row{
  margin-left:-17px;
  margin-right:-17px;
}
.content-layout:not(.sqs-editing) .content-row .content-block:not(.float):not(.sqs-feature-gated-wrapper):first-child{
  padding-top:0;
}
.content-layout:not(.sqs-editing)>.content-row:first-child>[class*=sqs-col]:first-child>.content-block:last-child{
  padding-bottom:17px;
}
.content-block.sized .content-block-content{
  overflow:hidden;
}
.content-block{
  position:relative;
  height:auto;
  padding-top:17px;
  padding-bottom:17px;
  outline:none;
  box-shadow:inset 0 0 0 1px rgba(128,128,128,0);
  -webkit-transition:box-shadow .2s ease-in-out;
  -moz-transition:box-shadow .2s ease-in-out;
  -o-transition:box-shadow .2s ease-in-out;
  transition:box-shadow .2s ease-in-out;
}
.content-block img{
  margin-bottom: 6%;
}
.content-block:not(.content-block-html):not(.content-block-markdown){
  clear:both;
}
.content-block h1{
  margin:1em 0 .5em;
  color:#16161d;
  font-family:'roman';
  font-size:2em;
  font-weight:600;
  text-transform:uppercase;
  letter-spacing:2px;
  line-height:1.2em;
  font-size:62px;
  font-weight:700;
  text-transform:none;
  font-style:normal;
  letter-spacing:0px;
  text-decoration:none;
  line-height:80px;
  color:#000;
  max-width:1000px!important;
  margin:0 auto!important;
}
.content-block h3{
  font-family:'roman';
  font-size:18px;
  font-size:58px;
  font-weight:400;
  text-transform:uppercase;
  font-style:normal;
  letter-spacing:1px;
  text-decoration:none;
  line-height:1.2em;
  letter-spacing:.8em!important;
  margin:1em 0 .5em;
  color:#16161d;
  font-size:24px;
  text-align:left;
  line-height:0px!important;
}

p{
  font-family:'roman'!important;
  font-size:16px!important;
  letter-spacing:.02em!important;
  text-align:left;
  line-height:40px!important;
}

.founders{
  margin-left:200px;
  margin-right:120px;
}
.founder{
  align-content: center;
  align-items: center;
  text-align: center;
  display:inline-block;
  background:#fff;
  border-radius:50%;
  border:2px solid #fff;
  padding-right: 5%;
  padding-left: 5%;
}