<app-navigation-bar></app-navigation-bar>
<div class="content-inner">
  <div class="content-layout">
    <div class="content-row">
      <div class="sqs-col-1">
        <div class="content-block"></div>
      </div>
    <div class="sqs-col-10">
      <div class="content-block">
        <div style="text-align: center;">
          <h3 style="text-align:center;">Made By</h3>
          <h1 style="text-align:center; text-transform: uppercase;">Skelly Company.</h1><br/>
          <img src="https://i.imgur.com/nj88AaG.png">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint harum dolor voluptates eaque dolorem! Consequatur dignissimos officia fugiat illum quidem adipisci porro voluptatem quod laboriosam.</p><br/>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="founders">
    <div class="founder"> 
      <img src="https://moodle.easv.dk/pluginfile.php/22072/user/icon/boost/f1?rev=387736" height="100" width="100">
      <p>David Kalatzis</p>
    </div>
    <div class="founder">
      <img src="https://scontent.faar2-1.fna.fbcdn.net/v/t1.0-1/c0.0.959.959a/70970728_2471635109732594_7224904525457391616_n.jpg?_nc_cat=111&_nc_ohc=QAXPLP3QGh4AQlpp0DOwxTWtevg_diQ3WvVxzmbs7V2LV-tNLr64lMHcw&_nc_ht=scontent.faar2-1.fna&oh=348935565526ebc913a71adf6cda8158&oe=5E849AB4" height="100" width="100">
      <p>Grzesiek Charyszczak</p>
    </div>
    <div class="founder">
      <img src="https://scontent.faar2-1.fna.fbcdn.net/v/t31.0-1/p960x960/20819353_10156525088657586_1593722390517933646_o.jpg?_nc_cat=111&_nc_ohc=oH_IKfzF7PkAQkRM9MVPTOsvQzEVfDjgT1SKL_rFMiuMsZPx6bJkL8R-A&_nc_ht=scontent.faar2-1.fna&oh=3c67cffa07f14810ca40ec31f2e64852&oe=5E85E666" height="100" width="100">
      <p>Kevin Lu</p>
    </div>
  </div>
</div>
<app-footer></app-footer>