.navbar {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 70px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

li {
  padding-left: 60px;
  padding-right: 60px;
  font-size: 21px;
}

li:hover {
  cursor: pointer;
}

li:focus {
  outline: none;
}
