<header class="navigation-bar">
  <div class="navigation-bar-holder">
    <div class="container">
      <div class="flex-parent">

        <a class="logo"><img src="assets/images/RUST-logo.PNG" title="RUST Logo"></a>
        <nav class="flex-child navigation-bar-wrap d-none d-lg-none d-xl-block">
          <ul class="navigation-bar-menu">
            <li class="navigation-bar-dropdown">
              <a>Shop</a>
              <ul class="navigation-bar-dropdown-menu">
                <li><a>Top</a></li>
                <li><a>Bottom</a></li>
              </ul>
            </li>
            <li><a>Vision</a></li>
          </ul>
        </nav>

      </div>
    </div>
  </div>
</header>