    
<app-navigation-bar></app-navigation-bar>
<div id="film-grain"></div>
  <!-- Heading -->
  <div class="heading">
    <h1 class="page-heading">Shop</h1>
    <button class="filter-button">Tops</button>
    <button class="filter-button">Bottoms</button>
  </div>
  <div>
  </div>
  <!-- Product Grid -->
  <section class="product-grid">
    <ul class="product-grid-list-container">             
      <li class="product-grid-list">
          <a class="_p">
              <span class="product-grid-list-image">
                <img src="https://i.imgur.com/y2AohP6.png" style="background-color: #E9E9E9;" alt="">
                <img src="https://media.giphy.com/media/dXcczD07oqteQ6HrnV/giphy.gif" alt="">
              </span>
              <span class="product-grid-list-title">Stool Hooded Sweatshirt</span>
              <span class="product-grid-list-price">99.99€</span>
          </a>
      </li>
      <li class="product-grid-list">
          <a class="_p">
              <span class="product-grid-list-image">
                <img src="https://i.imgur.com/jcUVWVV.png" style="background-color: #E9E9E9;" alt="">
                <img src="https://media.giphy.com/media/cgfPnWC8s13J9QWtCW/giphy.gif" alt="">
              </span>
              <span class="product-grid-list-title">Vase Hooded Sweatshirt</span>
              <span class="product-grid-list-price">89.99€</span>
          </a>
      </li>
      <li class="product-grid-list">
          <a class="_p">
              <span class="product-grid-list-image">
                <img src="https://i.imgur.com/Fxzdwi9.png" style="background-color: #E9E9E9;" alt="">
                <img src="https://media.giphy.com/media/SV6SPYfqJlJpyC9k2u/giphy.gif" alt="">
              </span>
              <span class="product-grid-list-title">Library T-Shirt</span>
              <span class="product-grid-list-price">39.99€</span>
          </a>
      </li>
      <li class="product-grid-list">
          <a class="_p">
              <span class="product-grid-list-image">
                <img src="https://i.imgur.com/y2AohP6.png" style="background-color: #E9E9E9;" alt="">
                <img src="https://media.giphy.com/media/dXcczD07oqteQ6HrnV/giphy.gif" alt="">
              </span>
              <span class="product-grid-list-title">Quote T-Shirt</span>
              <span class="product-grid-list-price">29.99€</span>
          </a>
      </li>
      <li class="product-grid-list">
          <a class="_p">
              <span class="product-grid-list-image">
                <img src="https://i.imgur.com/y2AohP6.png" style="background-color: #E9E9E9;" alt="">
                <img src="https://media.giphy.com/media/dXcczD07oqteQ6HrnV/giphy.gif" alt="">
              </span>
              <span class="product-grid-list-title">Function T-Shirt</span>
              <span class="product-grid-list-price">39.99€</span>
          </a>
      </li>
      <li class="product-grid-list">
          <a class="_p">
              <span class="product-grid-list-image">
                <img src="https://i.imgur.com/y2AohP6.png" style="background-color: #E9E9E9;" alt="">
                <img src="https://media.giphy.com/media/dXcczD07oqteQ6HrnV/giphy.gif" alt="">
              </span>
              <span class="product-grid-list-title">Tretorn X Makia Block Rain Jacket</span>
              <span class="product-grid-list-price">109.99€</span>
          </a>
      </li>
      <li class="product-grid-list">
          <a class="_p">
              <span class="product-grid-list-image">
                <img src="https://i.imgur.com/y2AohP6.png" style="background-color: #E9E9E9;" alt="">
                <img src="https://media.giphy.com/media/dXcczD07oqteQ6HrnV/giphy.gif" alt="">
              </span>
              <span class="product-grid-list-title">LittleThings T-shirt</span>
              <span class="product-grid-list-price">39.99€</span>
          </a>
      </li>
    </ul>
  </section>
  <!-- Paging -->
  <nav data-pagination>
      <ul>
        <a><img src="assets/images/arrow-left.png" width="18" height="14" onmouseover="this.src='assets/images/arrow-left-hover.png'" onmouseout="this.src='assets/images/arrow-left.png'"></a>
      </ul>
      <ul>
        <li><a>1</a>
          <li><a>2</a>
            <li><a>3</a>
      </ul>
      <ul>
        <a><img src="assets/images/arrow-right.png" width="18" height="14" onmouseover="this.src='assets/images/arrow-right-hover.png'" onmouseout="this.src='assets/images/arrow-right.png'"></a>
      </ul>
    </nav>
  <!-- Loading -->
 <h2 class="loading">Loading</h2>
 <app-footer></app-footer>
