/* Default */

//Heading
.heading{
  padding-top:5%;
  text-align:center;
}
.heading h1{
  font-size:4.85714rem;
  margin:0;
  font-family:'roman';
  font-weight:700;
  text-transform:uppercase;
}

@media (min-width:801px){
  .page-heading{padding:4.28571rem 0;}
}

.filter-button{
  position: relative;
  overflow: hidden;
  height: 3.57143rem;
  line-height: 3.57143rem;
  transition: all .15s ease;
  font-family: "Helvetica Neue";
  letter-spacing: .07143rem;
  font-size: 16px;
  text-transform: uppercase;
  border: 2px solid #000;
  padding: 0 2.85714rem;
  white-space: nowrap;
  margin: 0 auto; 
  text-align: center;
  background: 0 0;
  color: #000;
  background: #fff;
  z-index: 9;
  width: 20%;
  margin-right: 2%;
  margin-left: 2%;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.filter-button:hover{
  color: #fff;
  background-color: black;
  cursor: pointer;    
}

//Product Grid
a,button,div,h2,img,li,span,ul{margin:0;padding:0;border:0;font:inherit;font-family:inherit;font-size:100%;}
li,ul{list-style:none;}
a{color:inherit;text-decoration:none;}

.product-grid{
  padding-top:10%;
  padding-bottom:10%;
  margin:-1px auto 0;
  display:flex;
  display:-webkit-box;
  width:77%;
}
.product-grid-list-container{
  display:-webkit-box;
  display:flex;
  flex-wrap:wrap;
}
.product-grid-list{
  width:20vw;
}
.product-grid-list span{
  display:block;
}
.product-grid-list-image{
  cursor: pointer;
  position:relative;
  width:100%;
  overflow:hidden;
  background:#E9E9E9;
  height:20vw;
}
.product-grid-list-image img{
  position:absolute;
  width:100%;
  display:block;
  height:100%;
  top:0;
  right:0;
  bottom:0;
  left:0;
  -webkit-transition:-webkit-transform .45s;
  transition:-webkit-transform .45s;
  transition:transform .45s;
  transition:transform .45s,-webkit-transform .45s;
}
.product-grid-list-image img:first-child{
  z-index:2;
  -webkit-transition:opacity .4s cubic-bezier(.165,.84,.44,1),-webkit-transform .45s;
  transition:opacity .4s cubic-bezier(.165,.84,.44,1),-webkit-transform .45s;
  transition:opacity .4s cubic-bezier(.165,.84,.44,1),transform .45s;
  transition:opacity .4s cubic-bezier(.165,.84,.44,1),transform .45s,-webkit-transform .45s;
}
.product-grid-list a:hover img:first-child{
  opacity:0;
}
.product-grid-list a:hover img:nth-child(2){
  opacity:1;
}
.product-grid-list a:hover img{
  -webkit-transform:scale3d(1.1,1.1,1.1);
  transform:scale3d(1.1,1.1,1.1);
}
.product-grid-list:nth-child(n+4){
  margin-top:4.30556vw;
}
.product-grid-list:not(:nth-child(3n+1)){
  margin-left:8.15278vw;
}
.product-grid-list-title{
  padding:1.04167vw 0 0;
  font-size:1.11111vw;
  line-height:1.25em;
}
.product-grid-list-price{
  padding:.69444vw 0 0;
  line-height:.90278vw;
}
/* Media */
@media (max-width:1024px){
  .product-grid-list{
    width:26.66016vw;
    margin-top:6.05469vw;
  }
  .product-grid-list:nth-child(-n+2){
    margin-top:0;
  }
  .product-grid-list:nth-child(n+4){
    margin-top:6.05469vw;
  }
  .product-grid-list:nth-child(odd){
    margin-right:2.92969vw;
  }
  .product-grid-list:not(:nth-child(3n+1)){
    margin-left:0;
  }
  .product-grid-list-image{
    height:25vw;
  }
  .product-grid-list-title{
    padding:1.46484vw 0 0;
    font-size:1.5625vw;
    line-height:1.25em;
  }
  .product-grid-list-price{
    padding:.97656vw 0 0;
    line-height:1.26953vw;
  }
}

//Paging
[data-pagination],
[data-pagination] *,
[data-pagination] *:before,
[data-pagination] *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

[data-pagination] {
  font-size: 10px;
  line-height: 1;
  font-weight: 400;
  padding-bottom: 30px;
  font-family: 'roman';
  -webkit-text-size-adjust: 100%;
  margin: 1em auto;
  text-align: center;
  transition: font-size .2s ease-in-out;
}

[data-pagination] ul {
  list-style-type: none;
  display: inline;
  font-size: 100%;
  margin: 0;
  padding: .5em;
}

[data-pagination] ul li {
  display: inline-block;
  font-size: 100%;
  width: auto;
  background-color: transparent;
  border-radius: 3px;
}

[data-pagination] > a {
  font-size: 140%;
}

[data-pagination] a {
  color: #54555E;
  font-size: 100%;
  padding: .5em;
}

[data-pagination] a:focus,
[data-pagination] a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #171821;
}

[data-pagination] a.current {
  color: #000;
  font-weight: bold;
}

[data-pagination] .disabled,
[data-pagination] [hidden],
[data-pagination] [disabled] {
  opacity: .5;
  pointer-events: none;
}

@media (min-width: 350px) {
  [data-pagination] {
    font-size: 10pt;
  }
}

@media (min-width: 500px) {
  [data-pagination] {
    font-size: 12pt;
  }
}

@media (min-width: 700px) {
  [data-pagination] {
    font-size: 14pt;
  }
}

@media (min-width: 900px) {
  [data-pagination] {
    font-size: 16pt;
  }
}

//Loading Ring
.loading {
display:flex;
color:black;
font-weight: bold;
justify-content: center;
align-items: center;
height:100%;
margin: auto;
font-family: Helvetica;
animation: load 1.5s infinite 0s ease-in-out;
animation-direction: alternate;
text-shadow: 0 0 1px white;
}

@keyframes load {
  0%{
    opacity: 0.08;
    filter: blur(5px);
    letter-spacing: 3px;
  }
  100%{
    opacity: 1;
  }
}