    
<app-navigation-bar></app-navigation-bar>
  <!-- Heading -->
  <div class="heading">
    <h1 class="page-heading">Shop</h1>
  </div>
  <!-- Product Grid -->
  <section class="product-grid">
    <ul class="product-grid-list-container">             
      <li class="product-grid-list">
          <a class="_p">
              <span class="product-grid-list-image">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/61Jqx-K93iL._UX385_.jpg" alt="">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/611EcaW3scL._UX679_.jpg" alt="">
              </span>
              <span class="product-grid-list-title">Greg sucks</span>
              <span class="product-grid-list-price">191.99€</span>
          </a>
      </li>
      <li class="product-grid-list">
          <a class="_p">
              <span class="product-grid-list-image">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/61Jqx-K93iL._UX385_.jpg" alt="">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/611EcaW3scL._UX679_.jpg" alt="">
              </span>
              <span class="product-grid-list-title">Greg sucks</span>
              <span class="product-grid-list-price">191.99€</span>
          </a>
      </li>
      <li class="product-grid-list">
          <a class="_p">
              <span class="product-grid-list-image">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/61Jqx-K93iL._UX385_.jpg" alt="">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/611EcaW3scL._UX679_.jpg" alt="">
              </span>
              <span class="product-grid-list-title">Greg sucks</span>
              <span class="product-grid-list-price">191.99€</span>
          </a>
      </li>
      <li class="product-grid-list">
          <a class="_p">
              <span class="product-grid-list-image">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/61Jqx-K93iL._UX385_.jpg" alt="">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/611EcaW3scL._UX679_.jpg" alt="">
              </span>
              <span class="product-grid-list-title">Greg sucks</span>
              <span class="product-grid-list-price">191.99€</span>
          </a>
      </li>
      <li class="product-grid-list">
          <a class="_p">
              <span class="product-grid-list-image">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/61Jqx-K93iL._UX385_.jpg" alt="">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/611EcaW3scL._UX679_.jpg" alt="">
              </span>
              <span class="product-grid-list-title">Greg sucks</span>
              <span class="product-grid-list-price">191.99€</span>
          </a>
      </li>
      <li class="product-grid-list">
          <a class="_p">
              <span class="product-grid-list-image">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/61Jqx-K93iL._UX385_.jpg" alt="">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/611EcaW3scL._UX679_.jpg" alt="">
              </span>
              <span class="product-grid-list-title">Greg sucks</span>
              <span class="product-grid-list-price">191.99€</span>
          </a>
      </li>
      <li class="product-grid-list">
          <a class="_p">
              <span class="product-grid-list-image">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/61Jqx-K93iL._UX385_.jpg" alt="">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/611EcaW3scL._UX679_.jpg" alt="">
              </span>
              <span class="product-grid-list-title">Greg sucks</span>
              <span class="product-grid-list-price">191.99€</span>
          </a>
      </li>
    </ul>
  </section>
  <!-- Paging -->

  <!-- Loading -->
  <h2 class="loading">Loading</h2>