    
<app-navigation-bar></app-navigation-bar>
<div id="film-grain"></div>
  <!-- Heading -->
  <div class="heading">
    <h1 class="page-heading">Shop</h1>
    <button class="filter-button" (click)="getProductModels(currentPage, 'Top')">Tops</button>
    <button class="filter-button" (click)="getProductModels(currentPage, 'Bottom')">Bottoms</button>
  </div>
  <div>
  </div>
  <!-- Product Grid -->
  <section class="product-grid" *ngIf="productModels">
    <ul class="product-grid-list-container">              
      <li class="product-grid-list" *ngFor="let productModel of productModels">
        <a class="_p">
            <span class="product-grid-list-image" routerLink="/pet/1">
              <img [src]="productModel.imagePath"  style="background-color: #000;" alt="">
              <img [src]="productModel.videoPath" alt="">
            </span>
            <span class="product-grid-list-title">{{ productModel.name }}</span>
            <span class="product-grid-list-price">{{ productModel.price}}€</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- Paging -->
  <nav data-pagination>
      <ul *ngIf="currentPage > 1">
        <a (click)="getProductModels(currentPage - 1, categoryType)"><img src="assets/images/arrow-left.png" width="18" height="14" onmouseover="this.src='assets/images/arrow-left-hover.png'" onmouseout="this.src='assets/images/arrow-left.png'"></a>
      </ul>
      <ul *ngIf="currentPage === 1">
        <a style="cursor:default;"><img src="assets/images/arrow-left-disabled.png" width="18" height="14" ></a>
      </ul>
      <ul *ngFor='let in of counter(totalPages); let i = index'>
        <li *ngIf="currentPage === i + 1">
          <a class="currentPagination" (click)="getProductModels(i + 1, categoryType)">{{ i + 1 }}</a>
        <li *ngIf="currentPage !== i + 1">
          <a (click)="getProductModels(i + 1, categoryType)">{{ i + 1 }}</a>
      </ul>
      <ul *ngIf="currentPage < totalPages">
        <a (click)="getProductModels(currentPage + 1, categoryType)"><img src="assets/images/arrow-right.png" width="18" height="14" onmouseover="this.src='assets/images/arrow-right-hover.png'" onmouseout="this.src='assets/images/arrow-right.png'"></a>
      </ul>
      <ul *ngIf="currentPage === totalPages">
        <a style="cursor:default;"><img src="assets/images/arrow-right-disabled.png" width="18" height="14" ></a>
      </ul>
    </nav>
  <!-- Loading -->
  <div class="loading-ring-container" *ngIf="!productModels">
      <div class="loading-ring">Loading...</div>
  </div>
<app-footer></app-footer>