<div id="film-grain"></div>
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form (ngSubmit)="logIn()">
			<h1>Log in</h1>
			<input type="text" placeholder="Username" formControlName="username"/>
			<input type="password" placeholder="Password" formControlName="password"/>
			<a href="#">Forgot your password?</a>
      <button type="submit" class="button-effect">Log In</button>
      <p style="color: red;">{{ logInError }}</p>
    </form>
  </div>
</div>