/* Default */
//Parallax
.parallax{
  background-image: url("https://images.wallpaperscraft.com/image/skateboard_skateboarder_hobby_116485_1920x1080.jpg");
  min-height: 1000px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.caption{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.caption span.border{
  background-color:rgba($color: #000000, $alpha: 0.5);
  color: #fff;
  font-weight: bold;
  font-size: 55px;
  text-transform: uppercase;
  padding: 18px;
  letter-spacing: 10px;
}

//General
.content-row:before,.content-row:after{
  content:"";
  display:table;
}
.content-row:after{
  clear:both;
}
[class*=sqs-col]{
  float:left;
}
[class*=sqs-col] .content-block{
  padding-left:17px;
  padding-right:17px;
}
[class*=sqs-col]:last-child{
  padding-right:0;
}
.sqs-col-10{
  width:83.3333%;
}
.sqs-col-1{
  width:8.3333%;
}
.content-layout > .content-row{
  margin-left:-17px;
  margin-right:-17px;
}
.content-layout:not(.sqs-editing) .content-row .content-block:not(.float):not(.sqs-feature-gated-wrapper):first-child{
  padding-top:0;
}
.content-layout:not(.sqs-editing)>.content-row:first-child>[class*=sqs-col]:first-child>.content-block:last-child{
  padding-bottom:17px;
}
.content-block.sized .content-block-content{
  overflow:hidden;
}
.content-block{
  position:relative;
  height:auto;
  padding-top:17px;
  padding-bottom:17px;
  outline:none;
  box-shadow:inset 0 0 0 1px rgba(128,128,128,0);
  -webkit-transition:box-shadow .2s ease-in-out;
  -moz-transition:box-shadow .2s ease-in-out;
  -o-transition:box-shadow .2s ease-in-out;
  transition:box-shadow .2s ease-in-out;
}
.content-block:not(.content-block-html):not(.content-block-markdown){
  clear:both;
}
.content-block h1{
  margin:1em 0 .5em;
  color:#16161d;
  font-family:"Source Sans Pro",sans-serif;
  font-size:2em;
  font-weight:600;
  text-transform:uppercase;
  letter-spacing:2px;
  line-height:1.2em;
  font-family:futura-pt;
  font-size:50px;
  font-weight:700;
  text-transform:none;
  font-style:normal;
  letter-spacing:0px;
  text-decoration:none;
  line-height:80px;
  font-family:'BrownStd-Regular'!important;
  color:#000;
  max-width:1000px!important;
  margin:0 auto!important;
}
.content-block h3{
  font-family:"Source Sans Pro",sans-serif;
  font-size:18px;
  font-family:Playfair Display;
  font-size:58px;
  font-weight:400;
  text-transform:uppercase;
  font-style:normal;
  letter-spacing:1px;
  text-decoration:none;
  line-height:1.2em;
  font-family:'BrownStd-Bold'!important;
  letter-spacing:.8em!important;
  margin:1em 0 .5em;
  color:#16161d;
  font-size:12px;
  text-align:left;
  line-height:0px!important;
}
.content-inner .title-desc-wrapper{
  display:none;
}
.content-inner{
  background-color:#fff;
  max-width:960px;
  margin:0 auto;
  padding:100px 8%;
}
p{
  font-family:'BrownStd-Light'!important;
  font-size:16px!important;
  letter-spacing:.02em!important;
  text-align:left;
  line-height:40px!important;
}

//Founders
.founders{
  margin-left:100px;
  margin-right:100px;
}
.main-founder{
  align-content: center;
  align-items: center;
  text-align: center;
  display:inline-block;
  background:#fff;
  border-radius:50%;
  border:2px solid #fff;
  padding-right: 38%;
  padding-left: 38%;
}
.founder{
  align-content: center;
  align-items: center;
  text-align: center;
  display:inline-block;
  background:#fff;
  border-radius:50%;
  border:2px solid #fff;
  padding-right: 5%;
  padding-left: 5%;
}

//Contact
.filter-button{
  position: relative;
  overflow: hidden;
  height: 3.57143rem;
  line-height: 3.57143rem;
  transition: all .15s ease;
  font-family: "Helvetica Neue";
  letter-spacing: .07143rem;
  font-size: 16px;
  text-transform: uppercase;
  border: 0;
  padding: 0 2.85714rem;
  white-space: nowrap;
  margin: 0 auto; 
  text-align: center;
  background: 0 0;
  color: #000;
  background: #E9E9E9;
  z-index: 9;
  width: 70%;
  display: block;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.filter-button:hover{
  color: #fff;
  background-color: black;
  cursor: pointer;    
}

/* Media */
@media only screen and (max-width:768px){
  .content-inner{
    padding:20px;
  }
}
@media screen and (max-width:640px){
  .content-layout [class*=sqs-col]{
    float:none!important;
    width:auto!important;
  }
  .content-layout .spacer-block{
    display:none;
  }
  .content-layout .content-row .content-block:first-child{
    padding-top:17px!important;
  }
  .content-layout .content-row .content-block:last-child{
    padding-bottom:17px!important;
  }
}
@media only screen and (max-width:500px){
  h1{
    font-family:'BrownStd-Regular'!important;
    font-size:20px!important;
    line-height:40px!important;
    color:#000;
    max-width:1000px!important;
    margin:0 auto!important;
  }
}
@font-face{font-family:'BrownStd-Regular';src:url(https://static1.squarespace.com/static/582dd1c4be6594ea334d98f6/t/5aa97e259140b73aa6a81982/1521057318011/brownstd-regular.otf);}
@font-face{font-family:'BrownStd-Bold';src:url(https://static1.squarespace.com/static/582dd1c4be6594ea334d98f6/t/5aa97d08e2c483b705180351/1521057032078/brownstd-bold.otf);}
@font-face{font-family:'BrownStd-Light';src:url(https://static1.squarespace.com/static/582dd1c4be6594ea334d98f6/t/5aa97dd671c10ba53eb25d6b/1521057238449/brownstd-light.otf);}