<app-navigation-bar></app-navigation-bar>
<div id="film-grain"></div>
<div>
  <!-- Parallax -->
  <div class="parallax">
    <div class="caption">
      <span class="glitch"data-text="RUST IN PEACE.">Rust in peace.</span>
    </div>
  </div>
  <!-- About -->
  <div class="content-inner">
    <div class="content-layout">
      <div class="content-row">
        <div class="sqs-col-1">
          <div class="content-block"></div>
        </div>
        <div class="sqs-col-10">
          <div class="content-block">
            <div>
              <h3 style="text-align:center;">wazzup</h3>
              <h1 style="text-align:center;">WHAT IS <strong style="font-size: 1.3em;">RUST</strong></h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. <strong>laboriosam dolorem</strong>aut amet non asperiores quidem. Doloribus, vel deleniti nemo sed eligendi doloremque velit fugiat consequatur rerum, expedita harum inventore porro veritatis error?
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati distinctio exercitationem, dignissimos dicta unde inventore molestiae nesciunt asperiores excepturi cupiditate expedita magni, vitae libero! <strong>Quos, neque quo! Sapiente id assumenda, nisi perspiciatis tempore sit amet est.</strong> Mollitia maiores quibusdam debitis fugiat, facere, explicabo neque similique sint, voluptatum consectetur accusantium? Ad, perspiciatis ut. Facilis, harum tempore maxime debitis dolorem maiores, deserunt voluptatibus quibusdam quisquam impedit iusto.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam praesentium repudiandae, <strong>placeat</strong> obcaecati assumenda labore et iure qui ea porro iste ipsam quia laudantium perspiciatis quis saepe distinctio tempore omnis nam aliquam quod unde.
                Sit nemo assumenda delectus facere voluptate alias <strong>veritatis</strong> ducimus deserunt magnam a! Odit animi, doloremque autem, sapiente, a est quaerat error at facere ducimus nobis aliquam! 
              </p>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur officiis, minima illum nostrum numquam temporibus repellendus earum quo a expedita.  
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Team -->
  <div class="content-outer">
    <div class="content-inner dark">
      <div class="content-layout">
        <div class="content-row">
          <div class="sqs-col-1">
            <div class="content-block"></div>
          </div>
          <div class="sqs-col-10">
            <div class="content-block">
              <div>
                <h1 class = "dark" style="text-align:center;">The Team</h1>
                <p class = "dark">
                  <strong>RUST</strong> is formed by a group of dickwads from Poland. We are passionate about crafting the most creative and interesting designs ever created.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="founders">
          <div class="main-founder">
            <img src="https://redcandlegames.com/icon4.png">
            <p>Michał Parużyński</p>
          </div>
          <div class="founder"> 
            <img src="https://redcandlegames.com/icon1.png">
            <p>Grzesiek Charyszczak</p>
          </div>
          <div class="founder">
            <img src="https://redcandlegames.com/icon2.png">
            <p>Marcin Dwornikowski</p>
          </div>
          <div class="founder">
            <img src="https://redcandlegames.com/icon3.png">
            <p>Jędrzej Rakowski</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact -->
  <div class="content-inner"  style="padding-bottom: 10%;">
    <div class="content-layout">
      <div class="content-row">
        <div class="sqs-col-1">
          <div class="content-block"></div>
        </div>
        <div class="sqs-col-10 span-10">
          <div class="content-block">
            <div>
              <h1 style="text-align:center;">CONTACT US!</h1>
            </div>
          </div>
        </div>
      </div>
        <div class="founders">
          <a href="mailto:TheSkellyCompany@gmail.com"><button class="filter-button">Contact</button></a>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>