/* Default */
//Parallax
.parallax{
  background-image: url("https://i.imgur.com/LxPpaHo.jpg");
  min-height: 1100px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20000;
}
.caption{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.glitch{
  background-color:black;
  color: #fff;
  font-weight: bolder;
  font-family: 'roman';
  font-size: 82px;
  text-transform: uppercase;
  padding: 18px;
  letter-spacing: 10px;
  position:relative;
  width:400px;
  margin:0 auto;
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(200)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:20px;
  text-shadow:-1px 0 red;
  top:0;
  color:white;
  background-color:black;
  overflow:hidden;
  clip:rect(0,1000px,0,0); 
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:3px;
  text-shadow:1px 0 blue; 
  top:0;
  color:white;
  background-color:black;
  overflow:hidden;
  clip:rect(0,1000px,0,0); 
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}

//General
.content-inner{
  background-color:#fff;
  max-width:960px;
  margin:0 auto;
  padding:100px 8%;
}
.content-row:before,.content-row:after{
  content:"";
  display:table;
}
.content-row:after{
  clear:both;
}
[class*=sqs-col]{
  float:left;
}
[class*=sqs-col] .content-block{
  padding-left:17px;
  padding-right:17px;
}
[class*=sqs-col]:last-child{
  padding-right:0;
}
.sqs-col-10{
  width:83.3333%;
}
.sqs-col-1{
  width:8.3333%;
}
.content-layout > .content-row{
  margin-left:-17px;
  margin-right:-17px;
}
.content-layout:not(.sqs-editing) .content-row .content-block:not(.float):not(.sqs-feature-gated-wrapper):first-child{
  padding-top:0;
}
.content-layout:not(.sqs-editing)>.content-row:first-child>[class*=sqs-col]:first-child>.content-block:last-child{
  padding-bottom:17px;
}
.content-block.sized .content-block-content{
  overflow:hidden;
}
.content-block{
  position:relative;
  height:auto;
  padding-top:17px;
  padding-bottom:17px;
  outline:none;
  box-shadow:inset 0 0 0 1px rgba(128,128,128,0);
  -webkit-transition:box-shadow .2s ease-in-out;
  -moz-transition:box-shadow .2s ease-in-out;
  -o-transition:box-shadow .2s ease-in-out;
  transition:box-shadow .2s ease-in-out;
}
.content-block:not(.content-block-html):not(.content-block-markdown){
  clear:both;
}
.content-block h1{
  margin:1em 0 .5em;
  color:#16161d;
  font-family:'roman';
  font-size:2em;
  font-weight:600;
  text-transform:uppercase;
  letter-spacing:2px;
  line-height:1.2em;
  font-size:50px;
  font-weight:700;
  text-transform:none;
  font-style:normal;
  letter-spacing:0px;
  text-decoration:none;
  line-height:80px;
  color:#000;
  max-width:1000px!important;
  margin:0 auto!important;
}
.content-block h3{
  font-size:18px;
  font-family:'roman';
  font-size:58px;
  font-weight:400;
  text-transform:uppercase;
  font-style:normal;
  letter-spacing:1px;
  text-decoration:none;
  line-height:1.2em;
  letter-spacing:.8em!important;
  margin:1em 0 .5em;
  color:#16161d;
  font-size:12px;
  text-align:left;
  line-height:0px!important;
}

p{
  font-family:'BrownStd-Light'!important;
  font-size:16px!important;
  letter-spacing:.02em!important;
  text-align:left;
  line-height:40px!important;
}

//Founders
.founders{
  margin-left:100px;
  margin-right:100px;
}
.main-founder{
  align-content: center;
  align-items: center;
  text-align: center;
  display:inline-block;
  background:#000;
  border-radius:50%;
  border:2px solid #000;
  padding-right: 38%;
  padding-left: 38%;
}
.founder{
  align-content: center;
  align-items: center;
  text-align: center;
  display:inline-block;
  background:#000;
  border-radius:50%;
  border:2px solid #000;
  padding-right: 5%;
  padding-left: 5%;
}
.content-outer, .dark{
  background-color:#000;
}
.h1, .dark{
  color:#fff !important;
}
.p, .dark{
  color:#fff !important;
}

//Contact
.filter-button{
  position: relative;
  overflow: hidden;
  height: 3.57143rem;
  line-height: 3.57143rem;
  transition: all .15s ease;
  font-family: 'roman';
  letter-spacing: .07143rem;
  font-size: 18px;
  text-transform: uppercase;
  border: 0;
  padding: 0 2.85714rem;
  white-space: nowrap;
  margin: 0 auto; 
  text-align: center;
  background: 0 0;
  color: #000;
  background: #E9E9E9;
  z-index: 9;
  width: 70%;
  display: block;
  outline: none;
  border: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.filter-button:hover{
  color: #fff;
  cursor: pointer;   
  animation: colorChange 2.5s steps(10) infinite; 
}
@keyframes colorChange {
  0%, 100% { background-color: #000; font-family: "Helvetica Neue"; }
  10% { background-color: red; font-family: 'roman';   }
  20% { background-color: green; font-family: sans-serif;  }
  30% { background-color: blue; font-family: 'Times New Roman';  }
  40% { background-color: red; font-family: 'Segoe UI';  }
  50% { background-color: blue; font-family: 'roman';  }
  60% { background-color: red; font-family: 'Lucida Sans'; }
  70% { background-color: green; font-family: Arial; }
  80% { background-color: blue; font-family: 'roman';  }
  90% { background-color: green; font-family: Verdana; }
}
/* Media */
@media only screen and (max-width:768px){
  .content-inner{
    padding:20px;
  }
}
@media screen and (max-width:640px){
  .content-layout [class*=sqs-col]{
    float:none!important;
    width:auto!important;
  }
  .content-layout .spacer-block{
    display:none;
  }
  .content-layout .content-row .content-block:first-child{
    padding-top:17px!important;
  }
  .content-layout .content-row .content-block:last-child{
    padding-bottom:17px!important;
  }
}
@media only screen and (max-width:500px){
  h1{
    font-family: 'roman';
    font-size:20px!important;
    line-height:40px!important;
    color:#000;
    max-width:1000px!important;
    margin:0 auto!important;
  }
}