*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #fff;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  background-color: #fff;
  width:0.6%;
}
::-webkit-scrollbar-thumb{
  background-color: #000
}

@font-face {
  font-family: roman;
  src: url(assets/fonts/ClassicRomanStdRegular.otf) format("opentype");
}