/* Default */
p{
  margin-top:0;
  margin-bottom:1.25rem;
}
table{
  border-collapse:collapse;
  background-color:transparent;
}
th{
  text-align:left;
}
.container{
  position:relative;
  margin-left:auto;
  margin-right:auto;
  padding-right:20px;
  padding-left:20px;
}
.row,.form-row{
  display:flex;
  flex-wrap:wrap;
  margin-right:-20px;
  margin-left:-20px;
  color: #fff;
}
.purchase-container{
  margin-top:5%;
  margin-bottom:20%;
}
.purchase-container button{
  cursor:pointer;
  background:#fff;
  color:#000;
  -webkit-appearance:none;
  border:none;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  display:inline-block;
  -ms-grid-column:1;
  -ms-grid-column-span:2;
  grid-column:1/span 2;
  text-transform:uppercase;
  font-size:18px;
  padding:14px 30px;
  line-height:1;
  text-decoration:none;
  display:block;
  width:100%;
  padding:24px 0;
}
.checkout-wrapper{
  color: #fff;
}
.checkout .checkout-content .page-title{
  margin-bottom:3rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20%;
  text-align:left!important;
  color: #fff;
}
.checkout .checkout-content .checkout-form h3{
  margin-top:1rem;
  margin-bottom:0;
}
.checkout .checkout-content .checkout-form .checkout-wrapper .field-wrapper,.checkout .checkout-content .checkout-form ,.checkout .checkout-content .checkout-form{
  margin-top:15px;
}
.checkout .checkout-content .checkout-form .checkout-wrapper .field-wrapper .form-row,.checkout .checkout-content .checkout-form .form-row,.checkout .checkout-content .checkout-form .form-row{
  margin-left:0;
  margin-right:0;
  float:left;
  width:100%;
}
.checkout .checkout-content{
  flex:0 0 100%;
  max-width:100%;
}
.checkout .checkout-content{
  position:relative;
  width:100%;
  min-height:1px;
  padding-right:20px;
  padding-left:20px;
}
input,select,textarea{
  display:block;
  width:100%;
  padding:0.5rem 0.75rem;
  font-size:1rem;
  line-height:1.25;
  color:#fff;
  background-color:#000;
  background-image:none;
  background-clip:padding-box;
  border:1px solid rgba(255, 255, 255, 0.55);
  border-radius:0;
  transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
//checkout cart
#cart-title{
  padding: 5.90278vw 0 0;
  color:#fff;
}
.cart-list-price-primary{
  margin:.24vw 0 0;
  font-family: 'roman';
  font-weight: bold;
  color:#fff;
}
.cart-list-name-secondary{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  font-size: 16px;
  font-family: 'roman';
  font-weight: bold;
  color:#fff;
}
.cart-list-name-secondary{
  padding:0 .69444vw 0 1.11111vw;
}
.cart-list-name-secondary{
  margin:.33889vw 0 0;
}
.cart-list{
  overflow:hidden;
  overflow-y:auto;
  max-height:30vw;
  color:#fff;
}
.cart-list-product{
  width:100%;
  display:-webkit-box;
  display:flex;
}
.cart-list-name-primary{
  font-size: 20px;
  font-family: 'roman';
  font-weight: bold;
  font-size:1.11111vw;
  padding:0 .69444vw 0 1.11111vw;
}
.cart-list-quantity-container{
  margin: .55556vw 0 0 .55556vw;
}
.cart-list-quantity{
  width: 35px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
  border: 1px solid #fff;
  border-radius: .13889vw;
}
.cart-list-quantity,
.cart-list-quantity-decrement,
.cart-list-quantityr-increment{
  height: 40px;
  user-select: none;
}
.cart-list-quantity-decrement,
.cart-list-quantity-increment{
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background: transparent;
  color: #fff;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
#cart-total{
  margin-top: 5%;
  font-family: 'roman';
  font-weight: bold;
  font-size: 22px;
  color: #fff;
}
//Order confirmation
.orderConfirmation {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
  z-index: 1500!important;
}
.orderConfirmation-content {
  position: relative;
  background-color: #000;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  height: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animateTop;
  -webkit-animation-duration: 0.4s;
  animation-name: animateTop;
  animation-duration: 0.4s
}
@-webkit-keyframes animateTop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animateTop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
.orderConfirmation-header {
  text-align: center;
  background-color: #000;
  border-bottom: 2px solid #fff;
  color: white;
  font-size: 25px;
  font-family: 'roman';
  margin-bottom: 9%;
  padding-bottom: 5%;
  padding-top: 5%;
}
.orderConfirmation-body {
  text-align: center;
  color: #fff;
  font-size: 18px;
  margin-bottom: 3%;
}
.orderConfirmation-container{
  margin-top:5%;
  margin-bottom:20%;
}
.orderConfirmation-container button{
  cursor:pointer;
  background:#000;
  color:#fff;
  -webkit-appearance:none;
  border:none;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  display:inline-block;
  -ms-grid-column:1;
  -ms-grid-column-span:2;
  grid-column:1/span 2;
  text-transform:uppercase;
  font-size:18px;
  padding:14px 30px;
  line-height:1;
  text-decoration:none;
  display:block;
  width:100%;
  padding:24px 0;
  outline: 0;
}
.orderConfirmation-container button:hover{
  text-decoration: underline;
}

/* Media */
@media (min-width: 992px){
.container{
  width:860px;
  max-width:100%;
  }
}
@media (min-width: 1200px){
.container{
  width:980px;
  max-width:100%;
  }
}
@media (min-width: 576px){
.row,.form-row{
  margin-right:-20px;
  margin-left:-20px;
  }
}
@media (min-width: 768px){
.row,.form-row{
  margin-right:-20px;
  margin-left:-20px;
  }
}
@media (min-width: 992px){
  .checkout .checkout-content .checkout-form .checkout-wrapper .field-wrapper .form-row.form-row-first{
    float:left;
    width:45%;
    padding-right:20px;
  }
  .checkout .checkout-content .checkout-form .checkout-wrapper .field-wrapper .form-row.form-row-last{
    float:right;
    width:45%;
    padding-left:20px;
  }
}
@media (min-width: 1200px){
.checkout .checkout-content{
  padding-right:20px;
  padding-left:20px;
  }
}
@media (min-width: 768px){
.checkout .checkout-content{
  flex:0 0 83.33333%;
  max-width:83.33333%;
  }
.checkout .checkout-content{
  left:8.33333%;
  }
}