#main-container {
  text-align: center;
}

#header {
  padding-bottom: 10px;
  font-size: 20px;
}

ul {
  display:flex;
  flex-direction: column;
  justify-content:space-evenly;
  text-align: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

li {
  display:flex;
  flex-direction: row;
  width: 20%;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 2px solid;
  border-radius: 2px;
}

li:focus {
  outline:none;
}

.country-label-container {
  text-align: left;
  width:80%;
}

//Loading
.loading-container {
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1300;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  font-family: 'roman';
  font-size: 18px;
  animation: load 1.5s infinite 0s ease-in-out;
  animation-direction: alternate;
  text-shadow: 0 0 1px white;
}
